on init
    chmod 0644 /proc/tp_gesture
    chown system system /proc/tp_gesture

on property:persist.sys.xun.dt2w=0
    write /proc/tp_gesture 0

on property:persist.sys.xun.dt2w=1
    write /proc/tp_gesture 1
